<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Controller</title>
</head>
<body>
    Controller<br>
    <form action="/controller/createCounterE" method="POST">
        <button type="submit">Create Counter E</button>
    </form>
    <form action="/controller/createEntityTable" method="POST">
        <button type="submit">Create Entity Table</button>
    </form><br><br>
    <form action="/controller/createCounterW" method="POST">
        <button type="submit">Create Counter w</button>
    </form>
    <form action="/controller/createWordsTable" method="POST">
        <button type="submit">Create Word Table</button>
    </form><br><br>
    <form action="/controller/createCounterV" method="POST">
        <button type="submit">Create Counter V</button>
    </form>
    <form action="/controller/createVersionTable" method="POST">
        <button type="submit">Create Version Table</button>
    </form><br><br>
    <form action="/controller/addItem" method="POST">
        <button type="submit">Add Item</button>
    </form>
    <form action="/controller/addVersion" method="POST">
        <button type="submit">Add version</button>
    </form>

    <br>
    <% if (locals.results) { %>
        <h2>Results</h2>
        <pre><%= results %></pre>
    <% } %>
</body>
</html>