<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Controller</title>
</head>
<body>
    Controller<br>
    <form action="/controller/createCounterE" method="POST">
        <button type="submit">Create Counter E</button>
    </form><br>
    <form action="/controller/createEntityTable" method="POST">
        <button type="submit">Create Entity Table</button>
    </form>

    <br>
    <% if (locals.results) { %>
        <h2>Results</h2>
        <pre><%= results %></pre>
    <% } %>
</body>
</html>