<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
</head>
<body>
    <p>s3 test 6</p>
    <a href="https://d37vus6tk1h6ib.cloudfront.net/test6.txt">Access test.txt</a>
</body>
</html>