<!-- views/github.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>GitHub Action Trigger</title>
</head>
<body>
    <h1>GitHub Action Status</h1>
    
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>

    <% if (error) { %>
        <p>Error: <%= error %></p>
    <% } %>
</body>
</html>